<html>
  <body>
    <h1>Doug Teixeira's AWS Web Stack:</h1>
    <ul>
      <li>AWS EC2</li>
      <li>AWS Elastic Load Balancing</li>
      <li>Autoscaling</li>
      <li>OS: Ubuntu 14.04</li>
      <li>AWS Cloudformation for resource provisioning automation</li>
      <li>Hosted Chef Server for resources configuration automation</li>
      <li>Webserver: Apache</li>
      <li>User-date scripts for bootstrapping chef w/ cloudformation</li>
    </ul>
    <small><%= Time.now.strftime("%m/%d/%Y @ %I:%M%p UTC") %></small>
  </body>
</html>
